<h2>Login Page</h2>

<div class="form-container">
    <form class="form" action="/auth/login" method="post">
        <label for="username">Username:
            <input type="text" id="username" name="username" value="{{data.username}}">
        </label>
        <label for="password">Password:
            <input type="password" id="password" name="password">
        </label>
        <button>Login</button>
    </form>
</div>
